

:root[data-mantine-color-scheme="light"] {
  --text: #0f1e1f;
  --background: #edf7f8;
  --primary: #1e696c;
  --secondary: #72dee4;
  --accent: #14afb8;
}
:root[data-mantine-color-scheme="dark"] {
  --text: #e0eff0;
  --background: #071112;
  --primary: #93dfe1;
  --secondary: #1b888d;
  --accent: #47e2eb;
}

